apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: spire-virtual-service
  namespace: spire
spec:
  hosts:
  {{- range .Values.istio.spire.hosts }}
    - {{ tpl . $}}
  {{- end}}
  gateways:
  {{- range .Values.istio.spire.gateways }}
    - {{ . }}
  {{- end}}
  tls:
  - match:
      port: 8443
      sniHosts:
      {{- range .Values.istio.spire.hosts }}
        - {{ . }}
      {{- end}}
    route:
    - destination:
        host: spire-server.spire.svc.cluster.local
        port:
          number: {{ .Values.server.service.port }}
